{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!doctype html>
<html>

    {% include "head.html" %} {% render_block "css" %}

    <body>
        {% cms_toolbar %} {% include "header.html" %}

        <div id="content" class="container">
            {% block content %}{% endblock content %}
        </div>

        {% include "footer.html" %}

        <script <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootlint/0.14.2/bootlint.min.js" integrity="sha384-SLfe/wBrCVfyGjtLhfUmA5cYQLnNVTRmwMUJ11s7x5HxXCKom2oeEwX9bvY74CAs" crossorigin="anonymous"></script>
        {% render_block "js" %}
    </body>

</html>
